@import "../../global.scss";

.portfolio{
    background-color: $lightBackgroundOddPages;
}

.app.dark-mode{
    .portfolio{
      background-color: $darkBackgroundOddPages;
  
      h1, h2, h3 {
        color: white;
      }
    }
  }