@import "../../global.scss";

.skills{
    background-color: $lightBackgroundEvenPages;
    overflow: hidden;

    h1 {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    .skills-container {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        list-style: none;

        position: relative;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        
        .skill-tile {
            display: grid;
            text-align: center;
            padding: 10px 10px 10px 10px;
            justify-items: center;  


            .skill-logo {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.app.dark-mode{
    .skills{
        background-color: $darkBackgroundEvenPages;
  
      h1, .skill-tile {
        color: white;
      }
    }
}