@import "../../global.scss";

.experience{
    background-color: $lightBackgroundOddPages;
}

.app.dark-mode{
    .experience{
        background-color: $darkBackgroundOddPages;
  
      h1, h2, h3 {
        color: white;
      }
    }
  }