$mainColor: #272930;
$lightBackgroundOddPages: #f5f8d1;
$lightBackgroundEvenPages: #e9d5a1;
$darkBackgroundOddPages: #6c757d;
$darkBackgroundEvenPages: #343a40;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}